@tailwind base;
@tailwind components;
@tailwind utilities;

.puck-root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-primary: #0ea5e9;
  --theme-secondary: #64748b;
}

@media (prefers-color-scheme: dark) {
  .puck-root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}